/* Reset básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


/* Seção Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #490202;
    color: white;
    height: 300px;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: -22px;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Cards de Vinho */
.cards {
    display: flex;
    justify-content:space-around;
    margin: 40px 0;
    padding: 0 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card p {
    font-size: 1rem;
    margin-top: 10px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
}

.cards1 {
    display: flex;
    justify-content:space-around;
    margin: 40px 0;
    padding: 0 20px;
}

.card1 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card1 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card1 h3 {
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card1 p {
    font-size: 1rem;
    margin-top: 10px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
}

/* Efeito de Hover nos Cards */
.card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card */
    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.2); /* Aumenta a sombra */
}

.card1:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card */
    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.2); /* Aumenta a sombra */
}

/* Footer */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}
